/* Font */
@font-face {
    font-family: 'Freesentation-9Black';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2404@1.0/Freesentation-9Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
}
body {
    font-family: 'Freesentation-9Black', sans-serif;
}
/* Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* Elements */
button, input {
    padding: 4px;
}
/* Layout */
section {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    gap: 4px;
}